spring.application.name=sqlite
spring.datasource.url=jdbc:sqlite:accounting.db
spring.datasource.driver-class-name=org.sqlite.JDBC
spring.jpa.show-sql=true
spring.jpa.database-platform=org.hibernate.community.dialect.SQLiteDialect
spring.jpa.hibernate.ddl-auto=update
security.jwt.expiration-time=3600000
security.jwt.secret-key=
